html {
  box-sizing: border-box;
  font: normal 100%/1.5 Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  color: white;
  padding: 1em 0;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.nav {
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 0;
}

.grain-left {
  float: left;
  width: 40px;
}

.grain-right {
  float: right;
  width: 40px;
}

.nav li {
  display: inline-block;
  font-size: 1.125rem;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: .5em 0 0;
  border-radius: 4px;
}

.nav a:hover {
  background-color: #a63f38;
}
